html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.site-index {
}
.site-index h1 {
    text-align: center;
    font-size: 75px;
    font-weight: 200;
}

.site-index h1 small{
    font-size: 20px;
    position: relative;
    top: -25px;
}


.site-index h1 small a:hover{
text-decoration: none;
}
